<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSX Exercise</title>
    <script src="https://unpkg.com/react@16.0.0-rc.2/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.0.0-rc.2/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
</head>
<body>
  <div id="app"></div>
  <script type="text/babel">
    class RandomBox extends React.Component {
      render() {
        const fontSize = Math.floor(Math.random() * 80) + 20;
        const backgroundColor = ['red', 'green', 'blue', 'black'][Math.floor(Math.random() * 4)];
        return (
          <div style={{
            fontSize: `${fontSize}px`,
            backgroundColor,
            color: 'white',
            display: 'flex',
            alignItems: 'center',
            justifyContent: 'center',
            height: '200px',
            width: '500px',
          }}>
            Random Box
          </div>
        );
      }
    }

    ReactDOM.render(<RandomBox />, document.getElementById('app'));
  </script>
</body>
</html>
